#########################################
# wgetrc file for IDS Sensor            #
# SURFnet IDS                           #
# Version 1.02.01                       #
# 24-11-2005                            #
# Jan van Lith & Kees Trippelvitz       #
#########################################

passive_ftp = on
waitretry = 3 
http_user = idssensor
http_passwd = enter_password_here
